@charset "utf-8";

/* Reset */
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,input,textarea,i,u,em,strong,b,a,button,th,td, code{margin:0;padding:0;font-style:normal;letter-spacing:0;}
h1,h2,h3,h4,h5,strong {font-weight:700;}
b,em {font-weight:inherit;}
h1,h2,h3,h4,h5,h6 {font-size:inherit;}
*,*:before,*:after {-webkit-box-sizing:border-box;box-sizing:border-box;}
img,fieldset,iframe,button{border:0;}
ul,li{list-style:none}
input[type="text"],input[type="password"],textarea {outline:0;}
input,select,button,label,textarea{vertical-align:middle;}
input,textarea,button {font-size:inherit;font-family:inherit;color:inherit;line-height:inherit;}
input[type="password"] {font-family:inherit;}
select {font-size:inherit;color:inherit;line-height:inherit;-webkit-appearance:none;}
input,select,textarea {}
input:focus,select:focus,textarea:focus {}
input:disabled,select:disabled,button:disabled,label:disabled,a:disabled,textarea:disabled {cursor:default;}
label,button,select,a{cursor:pointer;}
table{border-collapse: separate;border-spacing:0;width:100%;table-layout:auto;}
legend {overflow:hidden;visibility:hidden;font-size:1px;text-indent:-9999px;margin-top:-1px;width:1px;height:1px;}
a {text-decoration:none;color:inherit;}
a:visited {text-decoration:none;}
a:hover,
a:focus {text-decoration:none;}
a > img {display:block;}
textarea{}
button {background:none;font-family:inherit;overflow:visible;outline:0;text-align: inherit;}
u {text-decoration:none;}
code {display:inline;color:inherit;font-size:inherit;line-height:inherit;font-family:inherit;font-weight:inherit;}
html {-webkit-text-size-adjust:none;}
body {word-break:break-word;font-size:14px;line-height:1;font-family:'Pretendard';font-weight:400;color:#131523;}
/*:focus {outline:#27a0b1 auto 1px;}*/
/* hidden */
.blind{visibility:hidden !important;position:absolute !important;color:transparent !important;opacity:0 !important;width:1px !important;height:1px !important;font-size:1px !important;text-indent:-9999px !important;}

.fl {float:left!important;}
.fr {float:right!important;}

.del {text-decoration:line-through;}