@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/*font init*/
@font-face {
	font-family:'NotoSansKR';
	font-style:normal;
	font-weight:400;
	src:local(※),url(../font/NotoSansKR-Regular.woff) format('woff');
}
@font-face {
	font-family:'NotoSansKR';
	font-style:normal;
	font-weight:600;
	src:local(※),url(../font/NotoSansKR-Medium.woff) format('woff');
}
@font-face {
	font-family:'NotoSansKR';
	font-style:normal;
	font-weight:700;
	src:local(※),url(../font/NotoSansKR-Bold.woff) format('woff');
}
@font-face {
	font-family:'gulim',sans-serif;
	font-style:normal;
	font-weight:normal;
	src:local(※),url(../font/gulim.ttf) format('ttf');
}
@font-face {
	font-family:'NanumBarunGothic',sans-serif;
	font-style:normal;
	font-weight:normal;
	src:local(※),url(../font/NanumBarunGothic.otf) format('otf');
}
@font-face {
	font-family:'MALGUN',sans-serif;
	font-style:normal;
	font-weight:normal;
	src:local(※),url(../font/MALGUN.TTF) format('ttf');
}
@font-face {
	font-family:'NanumGothic',sans-serif;
	font-style:normal;
	font-weight:normal;
	src:local(※),url(../font/NanumGothic.ttf) format('ttf');
}
@font-face {
	font-family:'KoPubDotum';
	font-style:normal;
	font-weight:400;
	src:local(※),url(../font/KoPubWorldDotum-Light.woff) format('woff');
}
@font-face {
	font-family:'KoPubDotum';
	font-style:normal;
	font-weight:600;
	src:local(※),url(../font/KoPubWorldDotum-Medium.woff) format('woff');
}
@font-face {
	font-family:'KoPubDotum';
	font-style:normal;
	font-weight:700;
	src:local(※),url(../font/KoPubWorldDotum-Bold.woff) format('woff');
}
@font-face {
	font-family:'AppleGothic';
	font-style:normal;
	font-weight:400;
	src:local(※),url(../font/AppleSDGothicNeoL.ttf) format('ttf');
}
@font-face {
	font-family:'AppleGothic';
	font-style:normal;
	font-weight:600;
	src:local(※),url(../font/AppleSDGothicNeoM.ttf) format('ttf');
}
@font-face {
	font-family:'AppleGothic';
	font-style:normal;
	font-weight:700;
	src:local(※),url(../font/AppleSDGothicNeoB.ttf) format('ttf');
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
